<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <% if (locals.error) { %>
    <div class="error-message">
      <p><%= error %></p>
    </div>
  <% }else{   %>

  
    <% if (locals.lattitude && locals.longitude ) { %>
    <h1> Uv factor is <%= uvFactor %> </h1>
  <% if (uvFactor <= 5) { %>

  <h2> No sun screen is needed today </h2>
  <% } else { %>
    <h2> 
     Sunscreen should be applied
    </h2>
    <% } %>
  
    <% } else { %>
      <h2 id="parametars"> 
     Please enter both fields with parametar
       </h2>
    <% } %>
    <% } %>
  </div>

  <form action="/" method="post">
    <label for="headline">Longitude</label>
    <input type="text" id="idInput" name="longitude" >

    <label for="secretInput">Latitude</label>
    <input type="text" id="secretInput" name="lattitude" >

 
    <input id="post" type="submit" value="POST" >
   
  </form>
</div>

   
  <script src="index.js" type="module"></script>   
</body>

</html>